<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jh.dyamicDataSource.dao.pgsql.TestMapper">

    <select id="selectTest" resultType="com.jh.dyamicDataSource.pojo.Test">

        SELECT * FROM test

    </select>

</mapper>